body {
    font-family: sans-serif;
    text-align: center;
    background-color: #dddddd;
}

li {
    cursor: pointer;
    color: #333333;
}

#translation {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #777777;
}